.custom-shape-divider-top-1662043649 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1662043649 svg {
    position: relative;
    display: block;
    width: calc(245% + 1.3px);
    height: 123px;
}

.custom-shape-divider-top-1662043649 .shape-fill {
    fill: #f9c486
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1662043649 svg {
        width: calc(245% + 1.3px);
        height: 133px;
    }
}

body {
  background: rgba(185, 146, 235, 0.79);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Sora";
  overflow-x: hidden;
  margin:0%
}


h1,
h2,
h3 {
  color: rgba(185, 146, 235);
  font-style: normal;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

button {
  font-family: "Sora";
  background: #f9c486;
  border-color: #f9c486;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.photo {
  position: relative;
  display: inline-block;
   margin: auto 30vw 7% 20vw; 
  
 
}

.catarina-photo {
  width: 30vw;
  min-width: 200px;
  display: block;
  text-align: center;
}

.photo:after {
    content: '';
    display:block;
    position: absolute;
    left: 2em;
    top: 1.5em; 
    border: 3px solid#f9c486;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: -5px;
    
  }

/* .square {
  position: absolute;
  
  width: 30vw;
  height: 15vh;
  min-width: 200px;
  border: 1px solid rgba(185, 146, 235, 0.79);
} */

.cv {

  margin: 5% auto auto auto;
  font-size: 15px;
  display: block;
  width: 30%;
  height: 20%;
  max-height: 100px ;
  min-height: 50px;
  max-width: 200px;
}

.stack {
   background-color: rgba(185, 146, 235, 0.79);
  margin: 0px;
  border: 2%;

}

.fa-brands {
  color:white;
}

.known-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  margin: 5px;
}

.fa-brands:hover{
    transform: scale(1.5);
}

.known-skills p{
  text-align: center;
}



.project-photo{
  width: 80vw;
  align-items: center;
}


.alien {
  animation-name: alien-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes alien-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.link {
  color: rgba(185, 146, 235, 0.79);
  font-size: 1px;
}